trigger:
- master

name: 1.4.$(Rev:r)

pool:
  vmImage: 'windows-latest'

variables:
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'
  BQC.ForceNewBaseline: false

stages:
- stage: Build
  displayName: Build
  jobs:
  - job: Build
    displayName: Build and Test

    steps:
    - task: UseDotNet@2
      displayName: 'Use .NET 9'
      inputs:
        version: 9.0.x
        includePreviewVersions: false

    - task: NuGetToolInstaller@1

    - task: DotNetCoreCLI@2
      displayName: 'Restore nuget packages'
      inputs:
        command: 'restore'
        projects: '**/Tharga.*.csproj'
        feedsToUse: 'select'

    - task: DotNetCoreCLI@2
      displayName: 'Build'
      inputs:
        command: 'build'
        projects: '**/Tharga.*.csproj'
        arguments: '-c Release --no-restore /p:Version=$(Build.BuildNumber)'
        versioningScheme: 'byBuildNumber'
        versionEnvVar: 'messagesPackageVersion'

    - task: DotNetCoreCLI@2
      displayName: 'Pack Tharga.Wpf'
      inputs:
        command: 'pack'
        packagesToPack: '**/Tharga.Wpf.csproj'
        versioningScheme: 'byBuildNumber'

    - task: DotNetCoreCLI@2
      displayName: 'Pack Tharga.License'
      inputs:
        command: 'pack'
        packagesToPack: '**/Tharga.License.csproj'
        versioningScheme: 'byBuildNumber'

    - task: PublishBuildArtifacts@1
      displayName: 'Publish artifacts'
      inputs:
        PathtoPublish: '$(Build.ArtifactStagingDirectory)'
        ArtifactName: 'drop'

- stage: Release
  displayName: Release
  dependsOn: Build
  condition: and(succeeded(), eq(variables['Build.SourceBranchName'], 'master'))
  jobs:

  - job: Release
    displayName: Release

    steps:
    - download: current
      artifact: drop
    - checkout: self
      persistCredentials: true

    - script: |
        echo "Files in workspace:"
        dir "$(Pipeline.Workspace)/drop" /s /b
      displayName: 'List pipeline workspace drop files'

    - task: NuGetCommand@2
      displayName: 'Push nuget packages to nuget.org'
      inputs:
        command: 'push'
        packagesToPush: '$(Pipeline.Workspace)/**/*.symbols.nupkg'
        nuGetFeedType: 'external'
        publishFeedCredentials: 'Nuget.org'

    - script: |
         git tag $(Build.BuildNumber)
         git push origin $(Build.BuildNumber)
      workingDirectory: $(Build.SourcesDirectory)
      displayName: Tag
